extends ../../templates/main-layout.pug

block content
  h1.
    Article Index

  ol(id="article-index")
    li
      a(href="/articles/0000-index.html").
        Index
    li
      a(href="/articles/0001-weather-balloon.html").
        Weather Balloon
