div(id="header")
  div(id="header-left")
    div(id="header-title")
      a(id="header-title-text" href="/")
        span(id="header-title-first-part").
          comran
        span(id="header-title-second-part").
          .org

    ul(class="menu" id="header-left-menu")
      li
        a(href="/articles/0000-index.html").
          Articles

  div(id="header-right")
    ul(class="menu")
      li
        a(href="https://www.linkedin.com/in/comran/").
          LinkedIn
      li
        a(href="https://github.com/comran").
          Github
      li
        a(href="/contact.html").
          Contact
