extends ../templates/main-layout.pug

block content
  div(id="welcome-container")
    div(style="background-image: url('/images/rainbow-welcome.svg')" id="welcome-image")

    p(id="welcome-greeting").
      This website is a collection of past and current projects that I am working on, as well as other things that I would like to showcase.

  div(id="index-article-list")
    a(href="/articles/0001-weather-balloon.html")
      div(id="index-article-list-item")
        div(id="index-article-list-item-left")
          div
            h1(id="index-article-list-item-heading").
              Weather Balloon
            p(id="index-article-list-item-heading").
              August 22nd, 2021

        div(id="index-article-list-item-right")
          div(id="index-article-list-item-image" style="background-image: url('/images/0001-weather-balloon/icon.jpg')")
          div(id="index-article-list-item-image-overlay")
