extends ../templates/main-layout.pug

block content
  div(style="display:table-cell;vertical-align:middle;width:50%;height:300px;")
    img(src="/images/rainbow-welcome.svg" style="width:100%;")

  div(style="display:table-cell;vertical-align:middle;width:50%;")
    p(style="font-family:Poiretone;height:100%;font-size:30px;text-align:center;display:table-cell;vertical-align:middle;").
      This website is a collection of past and current projects that I am working on, as well as other things that I would like to showcase.
