doctype html

html(lang="en")
  head
    title comran.org

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel='stylesheet', href='/main.css')

    include analytics.pug

  body
    include navigation.pug
    block content
    include footer.pug
