div(id="header")
  div(id="header-title")
    a(id="header-title-text" href="/")
      span(id="header-title-first-part").
        comran
      span(id="header-title-second-part").
        .org

  div(id="header-navigation")
    ul(class="menu")
      li
        a(href="https://www.linkedin.com/in/comran/").
          LinkedIn
      li
        a(href="https://github.com/comran").
          Github
